body {
  background-color: rgb(236, 236, 236);
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.15s;
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
}

:root {
  --md-sys-color-primary: orange;
}

.fab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: fixed;
  right: 50px;
  bottom: 40px;
  color: black;
  background-color: rgb(204, 204, 204);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgb(206, 206, 206);
  transition: background-color 0.15s;
}

.fab-container:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(204, 204, 204, 0.8);
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about {
  display: flex;
  gap: 30px;
  width: 60%;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -10px 10px 7px 0px rgba(219,219,219,0.8);
}

.card .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 30px 90px;
  background-color: rgb(215, 215, 215);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.card .bottom {
  width: 100%;
  padding: 20px 0;
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
} 

.card img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.horizontal-line {
  height: 3px;
  width: 50px;
  background-color: darkgray;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personal-info h1 {
  font-size: 85px;
  font-weight: 700;
  margin: 0;
}

.personal-info p {
  margin: 10px 0;
  line-height: 25px;
}

.divider {
  height: 3px;
  width: 60%;
  margin: 0 auto;
  background-color: lightgray;
}

.projects-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-section h1 {
  margin-bottom: 0;
}

.projects-section p {
  line-height: 25px;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project.white {
  background-color: white;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  gap: 50px;
}

.project .details {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.project .details .app-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.project .details p {
  line-height: 26px;
  margin-bottom: 8px;
}

.project .details ul {
  margin-top: 0;
}

.project .details ul li {
  margin-bottom: 6px;
}

.mock-ups {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 90%;
}

.mock-ups.mobile img {
  width: 300px;
}

.mock-ups.web img {
  width: 600px;
}

.mock-up {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mock-up h1,
.mock-up p {
  margin: 8px 0;
}

.project p {
  text-align: left;
}

.project h2 {
  margin: 0;
}

.details a {
  border-radius: 50px;
}

.details img {
  width: 200px;
  height: 200px;
  border-radius: 50px;
}

footer {
  width: 100%;
  padding: 30px 0;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
}

footer .links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

footer .links div {
  display: flex;
  gap: 10px;
}

footer .email {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

footer h2 {
  text-decoration: underline;
}

@media (max-width: 1430px) {
  .mock-ups {
    flex-wrap: wrap;
  }
}

@media (max-width: 1366px) {
  .mock-ups.web {
    gap: 60px;
  }
}

@media (max-width: 1280px) {
  .about {
    width: 90%;
  }

  .project .details {
    width: 90%;
  }
}

@media (max-width: 1066px) {
  .mock-ups.mobile {
    gap: 60px;
  }
}

@media (max-width: 870px) {
  .about {
    flex-direction: column;
  }

  .card {
    width: 50%;
    margin: 0 auto;
  }

  .card .top {
    width: 100%;
    padding: 60px 0;
  }

  .fab-container {
    font-size: 12px;
    width: 75px;
    height: 75px;
    right: 20px;
    bottom: 20px;
  }
}

@media (max-width: 777px) {
  .project .details {
    flex-wrap: wrap;
  }

  footer {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 700px) {
  .card {
    width: 75%;
  }
}

@media (max-width: 650px) {
  .mock-ups.web img {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .mock-ups.web img {
    width: 300px;
  }

  .card {
    width: 90%;
  }
}